<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540986625581-bi6d7920h4l27l5ekujvrff0pbqdnovm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540986625581-bi6d7920h4l27l5ekujvrff0pbqdnovm</string>
	<key>API_KEY</key>
	<string>AIzaSyCyFqupzdeI51ht6tpecBxPYrMGpBgFhsU</string>
	<key>GCM_SENDER_ID</key>
	<string>540986625581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appa</string>
	<key>PROJECT_ID</key>
	<string>logs-10dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>logs-10dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540986625581:ios:44054def89c6bcf2d472a4</string>
</dict>
</plist>